# ── Project specific ─────────────────────────────────────────────────────
/data/
/experiments/

# ── Python ───────────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/
*.pt
*.pth
*.safetensors

# ── Virtual envs ─────────────────────────────────────────────────────
.venv/
venv/
env/

# ── Files ─────────────────────────────────────────────────────
.env
*.bin
*.duckdb
*.duckdb.part*
*.jsonl
*.arrow
*.bz2
*.zip

# ── Test / Coverage / Type-Checking ──────────────────────────────────────────
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
wandb/

# ── IDE / Editor ─────────────────────────────────────────────────────────────
.idea/
.vscode/
*.swp
*.swo

# ── BS ───────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
